# Configuration values for hue.sh

# This is the official reference: http://www.developers.meethue.com/documentation/getting-started, if the description
# below is outdated or hard to follow, this should help you create a user.

# Check your HUE app and check the network settings for the bridge, you need to set this value for the script to work.
# On my current version of Android that would be "Settings" -> "My Bridge" -> "Network settings".
# A static IP is probably the best choice. IP or hostname for the bridge, only 1 bridge is currently supported.
BRIDGE="hue1.wafflebox.dk"


# You can now connect to your bridge using a browser. Visit:
# http://<bridge ip address>/debug/clip.html
# This will show a window with URL / Message Body / Command Response.
#
# Change "URL" to: /api
# "Message Body" should be something like : {"devicetype":"hue-shell-script"}
# Click the POST button, and you will get a Command Response saying among other things: "description": "link button not pressed"
#
# Now press the big button on the bridge, and post the same command again.
# This time it should give a Command Response saying among other things: "success": { "username": "<random string>" }
# The username for the bridge
USERNAME="GZoeOH51VNX69y4vFOar8k55iStJYpP7myuLsD2Z"


# Furthermore, you must create groups with lights assigned to them. The numbers can be carried over directly from the HUE app.
# Light groups can be as many as you want and lights can be represented in many groups if preferred. Some examples:
KITCHEN="1"
LIVINGROOM="2 3"
FRONTDOOR="4"
GROUNDFLOOR="1 2 3 4"
BATHROOMUPSTAIRS="5"
ALL="1 2 3 4 5"
